$preloader-size: 30px;

.preloader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: $preloader-size;
  height: $preloader-size;
  animation: spin 1s linear infinite;

  position: fixed;
  top: calc(50% - $preloader-size / 2);
  left: calc(50% - $preloader-size / 2);
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  50% {
    transform: rotate(90deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
