<form class="form" [formGroup]="form">
  <h2>Log In Panel of Administrator</h2>

  <div class="alert alert-danger" *ngIf="authorisation.error$ | async as error">
    {{ error }}
  </div>

  <div class="alert alert-info" *ngIf="message">
    {{ message }}
  </div>

  <div class="form-control" [ngClass]="{ invalid: isControlValid(loginKey.Email) }">
    <app-label for="email">Email:</app-label>
    <input type="email" id="email" [formControlName]="loginKey.Email" />

    <div class="validation" *ngIf="isControlValid(loginKey.Email)">
      <app-error-message *ngIf="isErrorExist(loginKey.Email, validatorKey.Required)">
        {{ errorMessages[validatorKey.Required] }}
      </app-error-message>

      <app-error-message *ngIf="isErrorExist(loginKey.Email, validatorKey.Email)">
        {{ errorMessages[validatorKey.Email] }}
      </app-error-message>
    </div>
  </div>

  <div class="form-control" [ngClass]="{ invalid: isControlValid(loginKey.Password) }">
    <app-label for="password"> Password:</app-label>
    <input type="password" id="password" [formControlName]="loginKey.Password" />

    <div class="validation" *ngIf="isControlValid(loginKey.Password)">
      <app-error-message *ngIf="isErrorExist(loginKey.Password, validatorKey.Required)">
        {{ errorMessages[validatorKey.Required] }}
      </app-error-message>

      <app-error-message *ngIf="isErrorExist(loginKey.Password, validatorKey.Password)">
        {{ errorMessages[validatorKey.Password] }}
      </app-error-message>

      <app-error-message *ngIf="isErrorExist(loginKey.Password, validatorKey.MinLength)">
        {{
          errorMessages[validatorKey.MinLength].replace(
            '{minlength}',
            passwordMinLength.toString()
          )
        }}
      </app-error-message>
    </div>
  </div>

  <app-button
    class="submit-button"
    type="button"
    variant="primary"
    [disabled]="form.invalid || isLoading"
    (click)="onSubmit()"
    (keydown.enter)="onSubmit()"
  >
    Log In
  </app-button>
</form>
