:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 600px;
  border-radius: 0.2rem;
  border: 1px dotted #333333;
  padding: 1rem;
}

.alert {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.alert-danger {
  background-color: #dc3545;
  color: #f4f4f4;
}

.alert-info {
  background-color: #f4f4f4;
  color: #333333;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.validation {
  position: relative;
}

.submit-button {
  margin-top: 0.5rem;
}
