@import "src/assets/variables";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 800px;
  border-radius: 0.2rem;
  border: 1px dotted #333333;
  padding: 1rem;
  margin-top: 2rem;
}

.form-title {
  font-size: 1.5rem;
  text-align: center;
}

.alert {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.alert-danger {
  background-color: map-get($colorful-palette, red);
  color: map-get($colorful-palette, white)
}

.alert-info {
  background-color: map-get($colorful-palette, white);
  color: map-get($colorful-palette, grey);
}

.form-control {
  display: flex;
  flex-direction: column;
  max-height: 50%;
}

.input {
  padding: 0.5rem;
  border: 1px solid #c9c9c9;
}

.validation {
  position: relative;
}

.submit-button {
  margin-top: 0.5rem;
}
