<form class="form" [formGroup]="form">
  <h1>Creating a new post</h1>

  <div class="form-control" [ngClass]="{ invalid: isControlValid(createPageKey.Title) }">
    <app-label for="title">Name of post:</app-label>
    <input class="input" type="text" id="title" [formControlName]="createPageKey.Title" />

    <div class="validation" *ngIf="isControlValid(createPageKey.Title)">
      <app-error-message *ngIf="isErrorExist(createPageKey.Title, validatorKey.Required)">
        {{ errorMessages[validatorKey.Required] }}
      </app-error-message>
    </div>
  </div>

  <div class="form-control">
    <app-label>Content:</app-label>
  </div>

  <div class="form-control" [ngClass]="{ invalid: isControlValid(createPageKey.Author) }">
    <app-label for="author">Author of post:</app-label>
    <input
      class="input"
      type="text"
      id="author"
      [formControlName]="createPageKey.Author"
    />

    <div class="validation" *ngIf="isControlValid(createPageKey.Author)">
      <app-error-message
        *ngIf="isErrorExist(createPageKey.Author, validatorKey.Required)"
      >
        {{ errorMessages[validatorKey.Required] }}
      </app-error-message>
    </div>
  </div>

  <app-button
    class="submit-button"
    type="button"
    variant="primary"
    [disabled]="form.invalid || isLoading"
    (click)="onSubmit()"
  >
    Create a post
  </app-button>
</form>
