<form class="form" [formGroup]="form!" (keydown.enter)="onSubmit()">
  <h1 class="form-title">Creating a new post</h1>

  <div class="form-control" [ngClass]="{ invalid: isInValid(createPageKey.Title) }">
    <app-label for="title">Name of post:</app-label>
    <input class="input" type="text" id="title" [formControlName]="createPageKey.Title" />

    <app-error-message *ngIf="isInValid(createPageKey.Title)">
      {{ errorMessage(createPageKey.Title) }}
    </app-error-message>
  </div>

  <div class="form-control">
    <app-label>Content:</app-label>
    <quill-editor
      [modules]="modules"
      [formControlName]="createPageKey.Text"
    ></quill-editor>

    <app-error-message *ngIf="isInValid(createPageKey.Text)">
      {{ errorMessage(createPageKey.Text) }}
    </app-error-message>
  </div>

  <div class="form-control" [ngClass]="{ invalid: isInValid(createPageKey.Author) }">
    <app-label for="author">Author of post:</app-label>
    <input
      class="input"
      type="text"
      id="author"
      [formControlName]="createPageKey.Author"
    />

    <app-error-message *ngIf="isInValid(createPageKey.Author)">
      {{ errorMessage(createPageKey.Author) }}
    </app-error-message>
  </div>

  <app-button
    class="submit-button"
    type="button"
    variant="primary"
    [disabled]="form!.invalid || isLoading"
    (click)="onSubmit()"
  >
    Create a post
  </app-button>
</form>
