<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <app-button variant="secondary" routerLink="/"> On main page </app-button>
  </div>

  <div class="post-info">
    <strong>Author of this post</strong>
    <small>Date of creating this post</small>
  </div>

  <div class="post-text">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto consequuntur
      cumque deleniti dolore doloribus fuga inventore nostrum optio quam, similique
      suscipit ut? Id iste quis suscipit! Atque beatae commodi, dignissimos dolores
      ducimus illum magni, maiores minima nulla odit perferendis possimus quam quidem quo
      quos repellendus sit totam veniam voluptates!
    </p>
  </div>
</div>
