.form-control {
  text-align: center;
}

.input {
  width: 80%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.loading {
  text-align: center;
  padding-top: 4rem;
}

.posts-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 2rem 1rem;
}

.button {
  margin-right: 10px;
}
