.form-control {
  text-align: center;
}

.input {
  width: 80%;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.loading {
  text-align: center;
  padding-top: 4rem;
}

.table {
  margin: 1rem auto;
  width: 95%;
}

.button {
  margin-right: 10px;
}
