<ng-container *ngIf="posts.length; else loading">
  <div class="form-control">
    <input class="input" type="text" placeholder="Find post..." [(ngModel)]="search" />
  </div>

  <ul class="posts-list" *ngFor="let post of posts | searchPosts: search">
    <li>{{ post.author }}</li>
    <li>{{ post.title }}</li>
    <li>{{ post.date | date: 'dd/MM/yyyy' }}</li>
    <li>
      <app-button class="button" [routerLink]="['/admin', 'post', post.id, 'edit']"
        >Open
      </app-button>
      <app-button variant="danger" (click)="remove(post.id)"> &#10006; </app-button>
    </li>
  </ul>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
